/* typo */
body {
    font-family: 'Montserrat', sans-serif;
}

.title-josefinSans {
    font-family: 'Josefin Sans', sans-serif;
}

/********** header ***********/


/* taille du logo */
.logo_site {
    height: 65px;
    width: 140px;
}

/* navbar */
.navbar-toggler {
    color: #37B6FC;
}

.nav-link {
    font-weight: 600;
}


.link-my-account {
    color: rgba(0, 0, 0, 0.65);
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #fff;
}

/********** main ***********/

/* image de fond pour la page d'accueil */
.cover-image {
    background-image: url("../img/amiens_parc_st_pierre.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.titleName {
     background-color: rgba(35, 34, 34, 0.5)
}

h2 {
    color: #0d2f47;
}

.bi {
    font-size: 20px;
    color: #37B6FC;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: solid underline #37B6FC 2px;
}

.rounded-circle {
    width:150px;
    height:150px;
}

#profile_comment {
    width: 70px;
    height: 70px;
}

.send_button {
    background-color: #37B6FC;
    border-color: #37B6FC;
}


/********** footer ***********/
.text-footer {
    font-size: 0.8rem;
}



/********** formulaire de contact ***********/

/* champs obligatoire */
.image-our-mission {
    height: auto;
    width: auto;
}

/* page contact */
#btn-send-contact,
#btn-send-connexion {
    background-color: #37B6FC;
    border-color: #37B6FC;
}

.text-justify {
    text-align: justify !important;
}


/* page connexion */

#btn-send-connexion {
    display: block;
    width: 100%
}

.text-connexion {
    font-size: 0.8rem;

}

.text-strong {
    font-weight: bold;
    color: #37B6FC
}




